#url {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
}

#qrWrapper {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

#headerQr {
  text-align: center;
}

#imgWrapper {
  width: 100%;
  height: 0;
  padding: calc(100% + 10px) 10px 10px 10px;
  border: 1px dashed #b5e853;
  position: relative;
  border-radius: 10px;
}

#imgWrapper img {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  border-radius: 10px;
}
